page-lessons {
    .box-white {
        color: #ffffff;
        img {
            border-radius: 10px;
            height: 100px;
            width: 100px;
            object-fit: cover;
        }
     }
}
