page-lesson-view {
    p, ul, li {
        color: #ffffff;
        line-height: 23px;
    }
    h4,h5 {
        color: #ffffff;
    }
    img {
        width: 100%;
        border-radius: 5px;
        border: 1px solid white;
    }
}
